/*BLOGS*/
.conterPageBlog{
    background-color: aliceblue;
}

.InfoBlog{
    padding: 50px 0 75px 0;
    position: relative;
}

.posts{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0.3%;
}

.posts img{
    width: 400px;
    height: 300px;
}

.title_cate_butn_post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'barlow';
    width: 65%;
}

.title_cate_butn_post h1{
    width: 50%;
    font-size: 30px;
    font-weight: 700;
    color: #0076C1;
}

.title_cate_butn_post p{
    width: 45%;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.title_cate_butn_post button{
    width: 18%;
    color: #FFFFFF;
    background-color: #0076C1;
    border: none;
    border-radius: 5px;
    padding: 5px 4px;
    min-width: 150px;
}

.title_cate_butn_post a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'barlow';
}

.categoria-do-post{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap: 5px;
    padding-bottom: 21px;
}

.categoria-do-post a{
    text-decoration: none;
    color: black;
}

.categoria-do-post a:hover{
    color: rgb(88, 134, 93);
}

.paginação-blog{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.paginação-blog a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

@media(max-width: 1231px) {
    .posts {
        width: 90%;
    }
    .title_cate_butn_post {
        width: 55%;
    }
    .title_cate_butn_post h1{
        width: 55%;
    }
    .title_cate_butn_post p{
        width: 60%;
    }
    .title_cate_butn_post button{
        width: 23%;
    }
}

@media(max-width: 764px ) {
    .title_cate_butn_post{
        width: 99%;
    }
    .title_cate_butn_post p{
        width: 80%;
    }
    .title_cate_butn_post button{
        width: 35%;
    }
}

@media(max-width: 412px ){
    .posts img{
        width: 90%;
        height: 80vw;
    }
    
}

/* FIM */
/* Serch e Categoria */
main{
    padding-bottom: 30px;
    background-color: aliceblue;
}

.search-e-categorias{
    position: absolute;
    right: 8%;
    top: 7%;
    font-family: 'Barlow';
}

.categoria-e-imagem li {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.menu-cat_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.menu-cat_post h2{
    color: #0076C1;
}

.menu-cat_post a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: end;
}

.menu-cat_post a:hover{
    color: rgb(73, 139, 81);
}

.menu-categorias-dos-posts-container li{
    margin-bottom: 5px;
}

.barra-de-pesquisa {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 3px;

    border: 1px solid black;
    border-radius: 5px;
    background: white;
}

#searchsubmit{
    display: none;
}

#s{
    outline: none;
    border: none;
}

/** Paginação **/
.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;

    font-family: 'Roboto';
}

.page-numbers {
    font-size: 18px;

}

.current {
    font-size: 22px;
    color: #0076C1;
}


@media(max-width: 939px ){
    .posts {
        flex-wrap: wrap;
    }
    .title_cate_butn_post{
        width: 80%;
        align-items: center;
        text-align: center;
    }
    .title_cate_butn_post h1{
        text-align: center;
    }
    .title_cate_butn_post p{
        margin-bottom: 15px;
        width: 100%;
        text-align: justify;
    }
    .title_cate_butn_post h1{
        text-align: center;
        width: 90%;
        margin-top: 10px;
    }
    .search-e-categorias{
        width: 80%;
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #s{
        width: 100%;
    }
    #searchform{
        display: flex;
        justify-content: center;
    }
    .menu-cat_post{
        align-items: center;
        text-align: center;
    }
    .InfoBlog{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .barra-de-pesquisa {
        width: 458px;
        height: 20%;
    }
    .menu-cat_post{
        width: 100%;
    }
    .categoria-e-imagem {
        width: 100%;
        flex-direction: row;
    }
    .categoria-e-imagem li {
        gap: 5px;
    }
    #menu-categorias-dos-posts {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
    
}

@media(max-width: 500px) {
    #menu-categorias-dos-posts {
        flex-direction: column;
        align-items: end;
    }
    .categoria-e-imagem {
        width: unset;
    }
    .barra-de-pesquisa {
        width: 100%;
        height: 20%;
    }
}
