/* CARROSEL */

.secao-cases-sucesso {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3vh;
  overflow-x: hidden;
  font-family: 'Inter';
}

/* Set the width of the carousel and its inner container */
.carousel {
    width: 90%;
    padding: 0px 3px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.9s ease-in-out;
  position: relative;
  align-items: center;
}

/* Set the width and position of each carousel slide */
.carousel-item {
  width: 90.5vw;
  /* width: 100%; */
  margin-right: 5vw;
  position: relative;
  height: fit-content;
}

/* Style the navigation arrows */
.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 45px;
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  text-align: center;
  /* line-height: 30px; */
  /* cursor: pointer; */
}

.carousel-prev {
  left: 9vw;
}

.carousel-prev,.carousel-next:hover {
  cursor: pointer;
}

.carousel-next {
  right: 9vw;
}

/* Style the dot indicators */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dots a {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.carousel-dots a.active {
  background-color: #333;
}

/* Hide the overflow on the carousel container to prevent the appearance of scrollbars */
.carousel {
  overflow: hidden;
}
.slide-cases-sucesso{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  position: relative;
  padding: 15px 0px;
  
}
.txt-titulo-desc{
  display: flex;
  flex-direction: column;
  width: 65%;
}

.txt-titulo-desc p {
  text-align: justify;
}

.img-nm{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 5vh 0 1vh 0;
}
.img-nm img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}
.slide-n-p{
position: relative;
}
@media(max-width: 571px){
  .carousel-prev, .carousel-next{
      position: absolute;
      top: 49%;
  }
  
}
@media(max-width: 497px){
  .carousel-prev, .carousel-next{
      position: absolute;
      top: 44%;
  }

  .carousel-prev {
    left: 2vw;
  }
  .carousel-next {
    right: 2vw;
  }
  .txt-titulo-desc{
    margin: 0 auto;
  }
}