
/* PARTE DE CIMA DO FOOTER */
.footerSite_um{
    display: flex;
    justify-content: space-around;
    padding: 1vh 4vw 60px 3vw;
    color: #E6E8F4;
    background-color: rgb(19, 52, 89);
    flex-wrap: wrap;
}
.post_blog{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: 'barlow';

}
.post_blog p{
    width: 90%;
}

.post_blog a{
    margin-bottom: 10px;
    color: #E6E8F4;
    text-decoration: none;
    font-size: 18px;
}

/*Tirar as visualizações*/
.wpp-views {
    display: none;
}

.link_page_footer{
    display: flex;
    flex-direction: column;
    font-family: 'barlow';
}
.link_page_footer a{
    margin-bottom: 11px;
    color: #E6E8F4;
    text-decoration: none;
    font-size: 18px;
}
.textos_footer_h1{
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: none;
    font-weight: 700;
}
/* FIM */
/* PARTE DO MEIO DO FOOTER */

.footerSite_dois{
    background-color: rgb(19, 52, 89);
    display: flex;
    justify-content: space-around;
    color: #E6E8F4;
    padding-bottom: 17px;
    flex-wrap: wrap;
}

.logo_cnpj img {
    width: 16.5vw;
    height: 45px;

    margin-top: 10px;

    min-width: 200px;
}

.logo_cnpj p{
    font-family: 'barlow';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.cadastro_NL p{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
    text-align: start;
}

.cadastro_NL {
    margin: 0px 0px 0px 10px;
}

.tnp-email{
    padding: 10px 80px 10px 2px;
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    font-family: 'roboto';
    width: 65%;
}
.tnp-privacy{
    font-size: 14px;
    font-weight: 400;
    font-family: 'roboto';
}
.tnp-submit{
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 400;
    font-family: 'roboto';
}

.end_links p{
    font-family: 'barlow';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.redeSocialFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
}
.cpr-footer{
    display: flex;
    justify-content: center;
    background-color: #85868a;
    color: #fafafa;
    padding: 10px 0;
    font-family: 'Barlow';
}

@media(max-width: 851px) {
    .cadastro_NL {
        margin: 0px 0px 20px 10px;
    }
}

@media(max-width: 538px) {
    .cadastro_NL {
        margin: 20px 0px 20px 10px;
    }
}