.headerSite{
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-paginas-container ul{
    display: flex;
    flex-direction: row-reverse;
    gap: 35px;
    padding: 30px 0;
}

.logoHeader {
    display: flex;
    align-items: center;
}

.logoHeader img {
    width: 16.5vw;
    height: 45px;

    margin-top: 10px;
    min-width: 200px;
}

.infoHeader{
    display: flex;
    width: 36%;
    justify-content: space-between;
    align-items: center;
}

.menus-hamb {
    display: none;
}

.menus-hamb:hover {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.interior-menu-hamb{
    display: block;
    position: absolute;
    width: 30%;
    font-size: 10px;
    right: 0;
    top: 85px;
    padding: 15px 9px;
    background-color: #ebebeb;
    text-align: center;
    z-index: 100000;
    opacity: 0;
}

.trd_site{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_hd_sair{
    display: flex;
    justify-content: flex-end;
}
.btn_hd_sair button{
    color: black;
    font-size: 30px;
    font-weight: 500;
    background: none;
    border: none;

}
#pt-en-tdr{
    display: none;
}
header a:hover{
    color: black;
}

.interior-menu-hamb a {
    color: #000000cb;
    text-decoration: none;
    font-size: 24px;
    font-family: 'inter';
}

.infoHeader a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'inter';
    display: inline-block;
    position: relative;
    color: #000000cb;
}
  
/** Animação de sublinhar link na header **/
.infoHeader a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 25px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/** Animação de sublinhar link na header **/
.infoHeader a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.fade-out {
    animation: fadeOut 1s ease forwards;
}

.fade-in {
    animation: fadeIn 0.8s ease forwards;
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rotate {
    transform: rotate(90deg);
}

@media(max-width: 1449px){
    .infoHeader{
        width: 44%;
        
    }
}
@media(max-width: 1215px){
    .infoHeader{
        width: 57%;
       
    }
}
@media(max-width: 940px){
    .infoHeader{
        width: 68%;
        
    }
}
@media(max-width: 786px){
    .infoHeader{
        justify-content: center;
    }
    .menu-paginas{
        display: none;
    }
    .menus-hamb{
        display: inline-block;
    }
    .headerSite{
        position: relative;
        justify-content: space-between;
        padding: 38px 10px;
    }
    .menu-paginas-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
