/****GERAL****/
html {
    scroll-behavior: smooth;
}

.texto-azul {
    font-family: 'Inter';
    font-weight: 500;
    color: #0076c1;
}

.expandaseushorizontes-section{
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url("/wp-content/themes/EtapaEscolaTema/assets/images/capa-horizonte.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.titulo{
    font-size: 3.6em;
    color: white;
    text-align: center;
    margin: 0;    
}

.subtitulo{
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}

.botao{
    border: none;
    background: #F5F5F5;
    color: #333652;
    font-weight: 700;
    font-size: 20px;
    border-radius: 100px;
    font-family: 'inter';
    padding: 15px 50px;
    
}
.botao a{
    text-decoration: none;
    color: #333652;

}

.div-maior{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'inter';
}
.texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.titulo-secao {
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

@media(max-width: 367px) {
    .titulo{
        font-size: 3.3em;
        color: white;
        text-align: center;
        margin: 0;    
    }

    .botao{
        font-size: 18px;
        padding: 15px 16px;
    }
}

/*Fundo acinzentado quando aparecer popup*/
.fundo-acinzentado {
    z-index: 21;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #33333385;
    top: 0px;
    left: 0px;
    display: none;
    position: fixed; top: 0px; left: 0px;
}

/***Seção: "Nossos Serviços"***/
.secao-nossos-servicos {
    overflow-x: hidden;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 10px 40px;
    gap: 5vw;
    width: 85vw;
}

#servicos-linha {
    width: 0px;
    height: 650px;

    border: 2px solid #0076c1;
}

.servicos-tipo {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.servicos-pessoas-coluna {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.servicos-empresas-linha {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.servico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.servico:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

.servico-nome {
    text-align: center;
    width: 16vw;
}

.circulo-cinza {
    width: 160px;
    height: 160px;

    border-radius: 100px;
}

/*Serviço POP_UP*/
.servico-pop-up-caixa {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;

    top: 660px;
}

.servico-pop-up {
    z-index: 22;
    background: #EBEBEB;
    width: 72%;
    height: 100%;
    border-radius: 54px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 15px 10px 20px;
}

.botao-sair-pop-up {
    position: relative;
    align-self: flex-end;
    top: 3%;
    right: 6%;
}

.botao-sair-pop-up:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.circulo-branco img {
    width: 160px;
    height: 160px;
}

.servico-pop-up-nome {
    font-size: 43px;
    text-align: center;
    width: 90%;
    margin: 0px;
}

.servico-descricao {
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
    width: 90%;
}

.botao-diagnostico {
    text-decoration: none;
    color: #D9D9D9;
    background-color: #000000;
    font-size: 20px;

    width: 310px;
    height: 56px;
    border-radius: 100px;
}

.botao-diagnostico:hover {
    cursor: pointer;
}

/**** MEDIA ****/
@media(max-width: 1055px) {
    .servicos-pessoas-coluna {
        margin-top: 19px;
    }

    #servicos-linha {
        height: 700px;
    }

    #para-voce {
        margin-top: 26px;
    }
}

@media(max-width: 786px) {
    .servico-pop-up-caixa {
        top: 730px;
    }
}

@media(max-width: 755px) {
    .servicos {
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    .servicos-tipo {
        width: 100%;
    }


    #servicos-linha {
        width: 90%;
        height: 0%;
    }

    .servicos-pessoas-coluna {
        margin-top: 0px;
    }

    .servicos-empresas-linha {
        gap: 45px;
    }

    .servicos-pessoas-coluna {
        flex-direction: row;
        gap: 45px;
        align-items: flex-start;
    }

    .servicos-tipo {
        gap: 45px;
    }

    .servico-nome {
        width: 35vw;
    }

    #para-voce {
        margin-top: 0px;
    }

    .servico-pop-up-caixa {
        top: 770px;
    }

    .servico-pop-up-nome {
        font-size: 39px;
    }
}

@media(max-width: 471px) {
    .botao-diagnostico {
        font-size: 20px;
        width: 280px;
        height: 50px;
    }

    .servico-pop-up-nome {
        font-size: 35px;
    }

    .servico-descricao {
        font-size: 22px;
    }
}

@media(max-width: 416px) {
    .servicos-empresas-linha {
        flex-direction: column;
    }

    .servico-nome {
        width: 60vw;
    }

    .servicos-pessoas-coluna {
        flex-direction: column;
        align-items: flex-start;
    }

    .botao-diagnostico {
        font-size: 18px;
        width: 240px;
        height: 40px;
    }
}

@media(max-width: 375px) {
    .servicos {
        width: 88vw;
    }

    .circulo-branco img {
        width: 150px;
        height: 150px;
    }

    .botao-diagnostico {
        font-size: 17px;
        width: 220px;
        height: 35px;
    }

    .servico-pop-up-nome {
        font-size: 30px;
    }

    .servico-descricao {
        font-size: 20px;
    }
}

@media(max-width: 323px) {
    .circulo-branco img {
        width: 130px;
        height: 130px;
    }

    .botao-diagnostico {
        font-size: 16px;
        width: 150px;
        height: unset;
    }

    .servico-pop-up-nome {
        font-size: 26px;
    }

    .servico-descricao {
        font-size: 18px;
    }

    .servico-pop-up-caixa {
        top: 1000px;
    }
}

/***FIM Seção: "Nossos serviços"***/


/***Seção: "Resultados"***/
.secao-resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EBEBEB;
    gap: 30px;
    padding: 40px 0px;
}

.resultados {
    padding: 30px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23vw;
}

.resultado-numero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
}

.resultado-nome {
    text-align: center;
}

/**Media**/
@media(max-width: 755px) {
    .resultados {
        flex-wrap: wrap;
        width: 60vw;
        gap: 55px;
    }

    .resultado-nome {
        width: 30vw;
    }
}

@media(max-width: 500px) {
    .resultados {
        flex-wrap: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .resultado-nome {
        width: 45vw;
    }
}

/***FIM Seção: "Resultados"***/

/***SEÇÃO: "APOIADORES"***/
.secao-apoiadores {
    margin-top: 20px;
    background: #EBEBEB;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3vh;
}
/* CARROSEL */

/* Set the width of the carousel and its inner container */
.carrossel-apoiadores {
    
    width: 90%;
    padding: 0px 3px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.apoiadores {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.9s ease-in-out;
}

/* Set the width and position of each carousel slide */
.apoiador {
    width: 17vw;
    margin-right: 7.3vw;
    position: relative;
} 

.apoiador img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Style the navigation arrows */
.anterior-apoiador, .proximo-apoiador {
    position: absolute;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 100;
    cursor: pointer;
}

.imagens-setas:hover {
    cursor: pointer;
}


.anterior-apoiador:hover {
    cursor: pointer;
}

.anterior-apoiador {
    left: 2%;
}

.proximo-apoiador {
    right: 2%;  
}


/* Style the dot indicators */
.carrossel-dots {
    display: flex;
}

.dot-apoiadores {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.dot-apoiadores.active {
    background-color: #333;
}

/* Hide the overflow on the carousel container to prevent the appearance of scrollbars */
.carrossel-apoiadores {
    overflow: hidden;
}
.apoiador{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    
}

/**MEDIA Carrossel**/
@media(max-width: 925px) {
    .apoiador {
        width: 28vw;
        margin-right: 3vw;
    }
}

@media(max-width: 705px) {
    .apoiador {
        width: 38vw;
        margin-right: 12vw;
    }
}

@media(max-width: 435px) {
    .apoiador {
        width: 38vw;
        margin-right: 12vw;
    }
}

@media(max-width: 435px) {
    .apoiador {
        width: 90vw;
        margin-right: 90vw;
    }

    .proximo-apoiador {
        right: 9%;
    }

    .anterior-apoiador {
        left: 6%;
    }
}