/***Página de confirmação do Newsletter ***/
#secao-newsletter-confirmacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vh 0px;
    gap: 4vh;
}

#newsletter-confirmacao-mensagem {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    padding: 0px 5px;

    text-align: center;
    color: #0076c1;
}

#newsletter-confirmacao-botao {
    padding: 4vh 3vw;
    background: #0076c1;
    border-radius: 100px;
}

#newsletter-confirmacao-botao a {
    text-decoration: none;

    font-family: 'Inter';
    font-size: 27px;
    font-weight: 700;
    color: white;
}

@media(max-width: 400px) {

}