/**Seção "Bem Vindo"**/
.quem-somos-secao-bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url("/wp-content/themes/EtapaEscolaTema/assets/images/capa-horizonte.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.quem-somos-titulo-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-family: 'Barlow';
    color: white;

}

.quem-somos-titulo-subtitulo h1 {
    font-weight: 700;
    font-size: 48px;   
    text-align: center;
}


/**Seção "História da Empresa"**/
.secao-historia-da-empresa {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    font-family: 'Roboto';
}

.como-tudo-comecou {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5.2vw;
}

.como-tudo-comecou img {
    width: 580px;
    height: 365px;
    object-fit: cover;
}

.como-tudo-comecou-titulo-texto {
    width: 577px;
}

.como-tudo-comecou-titulo {
    font-size:  2rem;
    text-align: justify;
}

.como-tudo-comecou-texto {
    font-size: 1.0rem;
    font-weight: 400;
    text-align: justify;

    line-height: 28px;
}

.mais-sobre-e-premiacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5.2%;
    width: 100%;
}

.mais-sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    width: 42.9%;
}

.premiacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    width: 42.9%;
}

.mais-sobre img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.premiacoes img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.mais-sobre p {
    width: 300px;
    text-align: justify;
    line-height: 178.19%;
}

.premiacoes p {
    width: 300px;
    text-align: justify;
    line-height: 178.19%;
}


/**Seção "O Que Nos Move"**/
.secao-o-que-nos-move {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    
}

.o-que-nos-move-titulo {

    text-align: center;
    margin-top: 30px;
    
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
}

.o-que-nos-move-conteudo {
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    width: 95%;
}

.o-que-nos-move-valores {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;
}

.o-que-nos-move-valores-titulos {
    height: 49px;
    width: 164px;
    left: 104px;
    top: 0px;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
}

.o-que-nos-move-valores-imagens {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.o-que-nos-move-valores-paragrafos {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    width: 100%;
    text-align: center;

}


/**Seção "Movimento Empresa Junior"**/
.secao-movimento-empresa-jr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    color: black;
    font-family: 'Roboto';

    justify-content: center;
    align-items: center;
    gap: 5.2vw;

    margin: 20px 0px;
}


.movimento-empresa-jr-texto {
    width: 577px;
}

.movimento-empresa-jr-titulo {
    font-size:  2rem;
    text-align: justify;
    margin-bottom: 25px;
}

.movimento-empresa-jr-paragrafo {
    font-size: 1.0rem;
    font-weight: 400;
    text-align: justify;

    line-height: 28px;
}

.secao-movimento-empresa-jr img {
    width: 583px;
    height: 371px;
    object-fit: cover;
}

@media(max-width: 1344px) {
    .mais-sobre-e-premiacoes {
        gap: 25%;
    }

    .mais-sobre {
        width: 250px;
    }

    .premiacoes {
        width: 250px;
    }
}

@media(max-width: 1220px) {
    .como-tudo-comecou, .secao-movimento-empresa-jr {
        gap: 1vw;
    }
}

@media (max-width: 1168px) {
    .mais-sobre-e-premiacoes {
        gap: 9%;
    }
}

@media(max-width: 597px) {
    .secao-historia-da-empresa {
        gap: 40px;
    }

    .como-tudo-comecou {
        flex-direction: column;
    }

    .secao-movimento-empresa-jr {
        flex-direction: column-reverse;
    }

    .como-tudo-comecou img, .secao-movimento-empresa-jr img {
        width: 80%;
        height: 60vw;
    }
    
    .como-tudo-comecou-titulo-texto, .movimento-empresa-jr-texto {
        width: 80%;
    }

    .como-tudo-comecou-titulo, .movimento-empresa-jr-titulo {
        text-align: center;
    }

    .mais-sobre p {
        width: 100%;
    }

    .premiacoes p {
        width: 100%;
    }
}

@media(max-width: 547px) {
    .mais-sobre {
        width: 85%;
    }

    .mais-sobre img {
        width: 100%;
        height: 80vw;
    }

    .premiacoes {
        width: 85%;
    }

    .premiacoes img {
        width: 100%;
        height: 80vw;
    }


    .o-que-nos-move-conteudo {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .o-que-nos-move-valores {
        width: 90%;
    }
}