
/***Seção: Título da Página***/
.contatos-cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48vh;
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url("/wp-content/themes/EtapaEscolaTema/assets/images/capa-horizonte.jpg");;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.contatos-titulo-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-family: 'Barlow';
    color: white;

}

.contatos-titulo {
    font-weight: 700;
    font-size: 48px;
}

/*** FIM: Seção: "Título da Página"***/

/*** Seção: "Jornada do Cliente"***/
.secao-jornada-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    margin: 6vh 5vw;
}

.secao-titulo {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto';
    margin: 0px;
    color: #0076c1;
    white-space: nowrap;
}

.navegador {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.navegador-linha {
    position: absolute;
    width: 20vw;
    /* top: 29.45%; */
    border: 15px solid #D9D9D9;
    z-index: -1;
    left: 50%;
    top: 54.5%;
}
 
.navegador-linha-ativa {
    border-color: #0076c1;
}


.navegador-dupla-etapa {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.navegador-etapa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 50%;
    position: relative;
    
}

.etapa-titulo {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto';
    margin: 0px;
    color: #0076c1;
    white-space: nowrap;
}

.etapa-elipse-maior {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #D9D9D9;

    align-items: center;
    justify-content: center;
}

.etapa-elipse-menor {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #999999;
}

.etapa-elipse-menor, .etapa-titulo:hover {
    cursor: pointer;
}

.etapa-ativa {
    background: #0076c1;
}

.etapa-texto {
    font-family: 'Roboto';
    font-size: 18px;
    
    font-weight: 500;
    text-align: justify;
    line-height: 5.8vh;
    color: #0076c1;
}

@media(max-width: 1005px) {
    .navegador {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .navegador-dupla-etapa {
        justify-content: space-between;
        width: 100%;
    }

    .navegador-linha {
        display: none;
    }

    .navegador-linha-ativa {
        border-color: #0076c1;
    }
}

@media(max-width: 516px) {
    .navegador {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .navegador-dupla-etapa {
        justify-content: none;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        gap: 20px;
    }

    .navegador-linha {
        display: none;
        position: absolute;
        width: 0%;
        height: 5%;
        border: 15px solid #D9D9D9;
        z-index: -1;
    }

    .jornada-cliente-titulo {
        white-space: normal;
    }

    #navegador-linha-1 {
        top: 19.6%;
        left: 47%;
    }

    #navegador-linha-2 {
        top: 25%;
        left: 47%;
    }

    #navegador-linha-3 {
        top: 31%;
        left: 47%;
    }

}

/* @media(min-height: 776px) {
    #navegador-linha-1 {
        top: 21.6%;
    }

    #navegador-linha-2 {
        top: 27%;
    }

    #navegador-linha-3 {
        top: 31%;
    }

    .navegador-linha-ativa {
        border-color: #0076c1;
    }
} */

/*** FIM: Seção "Jornada do Cliente" ***/


/** Seção: Informações **/
.conterContato{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    flex-wrap: wrap;
    padding: 30px 0 40px 0;
}
.conterInformação{
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    
}
.conterInformação h1{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
}
.infosContato{
    margin-top: 26.5px;
    /* gap: 20px; */
}
.infosContato img{
    width: 18px;
    height: 18px;
    background: #ECECEC;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}
.infosContato p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
#telefone-contato{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}
#email-contato{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}
#endereço-contato{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}

/** FIM Seção: Informações **/

/* FORMULARIO */
.conterFormContato{
    overflow: hidden;
}
    
.wpcf7-form-control-wrap input{
    border-radius: 40px;
    background-color: #D9D9D9;
    margin: 10px 0;
    border-style: none;
    padding: 10px;


}
.wpcf7-form-control-wrap textarea{
    border-radius: 15px;
    background-color: #D9D9D9;
    margin: 10px 0;
    border-style: none;

}
.wpcf7-spinner {
    margin: 0;
}
.btn_enviar_form{
    display: flex;
    justify-content: center;
}
.btn_enviar_form input:hover {
    cursor: pointer;
}
.btn_enviar_form input{
    border-radius: 40px;
    border-style: none;
    padding: 5px 20px;
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 700;
    background-color: #0076C1;
    color: white;
}
#titulo_do_form{
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 55px;
}
.formulario{
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    width: 30%;
    height: 94vh;
    border: 2px solid black;
    border-radius: 9.5px;
    padding: 20px;
    font-weight: 700;
    overflow-y: auto;
}
.info_obrigatoria input, textarea{
    width: 90%;
}

@media(max-width:961px){
    .conterContato{
        gap: 40px
    }
    .formulario{
        width: 60%;
        
    }
    
}

@media(max-width:530px){
    .conterContato iframe{
        width: 80%;
        height: 150px;
    }
    .formulario{
        width: 80%;
        
    }
    .conterInformação{
        width: 95%;
    }
    
}

@media(max-width:396px){
    
    .formulario{
        width: 85%;
        
    }
    
}

@media(max-width:367px){
    .formulario{
        width: 85%;
        
    }
    
}