.single-main{
    background-color: #e0e0e0;
    font-family: 'inter';
}
.conter-single-blog{
    display: flex;
    justify-content: space-evenly;
}
.content-blog-page{
    width: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 5px;
}
.img-titulo-e-dataDePostagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.img-titulo-e-dataDePostagem img{
    width: 700px;
    height: 480px;
}
.img-titulo-e-dataDePostagem h1{
    font-size: 34px;
    color: #0076C1;
    font-weight: 500;
}
.above-img-titulo-postagem-e-tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 80%;
}
.above-img-titulo-postagem-e-tags p{
    font-weight: 500;
}
.data-e-tag{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 480;
    margin-top: 10px;
}
#tags-blog{
    display: flex;
    gap: 10px;
}
#tags-blog a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
#tags-blog a:hover{
    font-size: 14.2px;
    color: #0076C1;
}
.conteudo-blog{
    width: 80%;
    margin: 0!important;
    text-align: justify;
    padding-bottom: 35px;
}

.info-adicional{
    width: 20%;
    
}
aside{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
}
.posts-recentes-blog-single{
    background-color: rgb(255, 255, 255);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}
.posts-recentes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 58.7%;
    width: 85%;
    text-align: center;
}
.posts-recentes-blog-single a{
    text-decoration: none;
    color: black;
    font-size: 14.5px;
    font-weight: 500;
}
.posts-recentes-blog-single a:hover{
    font-size: 14.8px;
    color: #0076C1;
}
.posts-recentes-blog-single h1{
    font-size: 24px;
    color: #0076C1;
}
.categoria-blog-single{
    background-color: rgb(255, 255, 255);
    height: 15%;
    padding-top: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}
.categoria-blog-single h1{
    font-size: 24px;
    color: #0076C1;
}

.menu-categorias-dos-posts-container a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-align: end;
}
.menu-categorias-dos-posts-container a:hover{
    font-size: 16.5px;
    color: #0076C1;
}
.menu-categorias-dos-posts-container li {
    display: flex;
    justify-content: end;
    gap: 10px;
    text-align: end;
}
@media (max-width: 1188px){
    .img-titulo-e-dataDePostagem img{
        width: 49vw;
        height: 41vw;
    }
}

@media (max-width: 939px){
    #menu-categorias-dos-posts{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width: 890px){
    .info-adicional{
        width: 25%;
    }
}
@media (max-width: 621px){
    .info-adicional{
        width: 32%;
    }
}
@media (max-width: 590px){
    .info-adicional{
        display: none;
    }
    .content-blog-page{
        width: 95%;
    }
    .img-titulo-e-dataDePostagem img{
        width: 80%;
        height: 62vw;
    }
}
@media (max-width: 500px){
    .above-img-titulo-postagem-e-tags{
        flex-wrap: wrap;
        align-items: center;
    }
    .data-e-tag{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .data-e-tag p{
        font-size: 14px;
    }
}
